{{> head }}
{{> navbar }}

<div class="row">

<div class="col-8">
    <h1>SC Empresarial</h1>
    <p>Somos un equipo Certificado en Tecnologías de la Información con más de 19 años de experiencia integrando soluciones empresariales de respaldo, recuperación y copia de información que garantizan la continuidad y estabilidad de tu negocio.

    </p>
</div>

<div class="col-4">
    <img src="assets/img/LOGOHD-250x58.jpg" class="img-thumbnail">
</div>

</div>

{{> footer }}